<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- voting_app/templates/voting_app/poll_detail.html -->

<h1>{{ poll.question }}</h1>
<form method="post" action="{% url 'vote' poll.id choice.id %}">
    {% csrf_token %}
    {% for choice in poll.choices.all %}
        <input type="radio" name="choice" value="{{ choice.id }}">{{ choice.text }}<br>
    {% endfor %}
    <button type="submit">Vote</button>
</form>

</body>
</html>